body {
    margin: 0;
}
header {
    height: 60px; /* Высота шапки */
    background-color: #1c1c1c; /* Цвет фона  */
    display: flex; /* Включаем гибкость блока */
}
ul {
    list-style: none; /* Убираем маркеры в списке */
    display: flex; /* Включаем гибкость блока */
    justify-content: start; /* Выравниваем по левому краю ссылки */
}

li a {
    color: white; /* Цвет текста */
    padding: 22px; /* Создаем поля вокруг ссылок по 22 пикселя */
    font-size: 20px; /* Размер шрифта */
    text-decoration: none; /* Убираем подчеркивание ссылок */
}

li a:hover {
    background-color: #2c3e50; /* Цвет фона при наведении на кнопку */
}
