{% extends 'index.html' %}
{% block head %}
<link rel="stylesheet" href="static/css/order_list.css">
<title> MOZETKA | Мои заказы </title>
{% endblock %}
{% block content %}
<!-- TODO: Rewrite all this to accommodate an uncountable number of orders-->
{% for i in orders %}
  <p> Имя заказа: {{ i.name }}
{% endfor %}
<p> Заказ № был оформлен на имя {{name}} {{fname}} по адресу {{address}} </p>
<p> Доставка запланирована на {{date}} </p>
<p> Данные для связи: </p>
<p> Телефон: {{phone_number}} </p>
<p> Электронная почта: {{email}} </p>
<p> Тип доставки: {{ delivery_type }} </p>
{% endblock %}